body {
    padding-top: 167px;

    &.collapsed {
        padding-top: 48px;
    }
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.w-100 {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}