@import '../helpers/variables';

header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 2;

    .alert-banner {
        width: 100%;
        background-color: $darkblue;
        color: white;
        text-align: center;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        padding: 8px 0;

        a {
            text-decoration: underline;
        }
    }

    .container {
        .content {
            padding: 2rem 2rem;
            position: relative;

            .expanded-options {
                position: absolute;
                left: 0;
                top: 1rem;
                font-size: 12px;

                ul {
                    li {
                        display: inline-block;
                        padding-right: 1rem;
                        margin-right: 1rem;

                        &:not(:last-child) {
                            border-right: 1px solid gray;
                        }
                    }
                }
            }

            .user-options {
                position: absolute;
                right: 0;
                top: 1rem;

                ul {
                    li {
                        display: inline-block;
                        margin-left: 0.75rem;
                        vertical-align: middle;

                        button {
                            background: transparent;
                            padding: 0;
                            border: 0;
                        }
                    }
                }
            }

            .logo {
                width: 100px;
                margin: 0 auto;
                margin-bottom: 1rem;
            }

            nav {
                text-align: center;

                ul {
                    list-style: none;

                    li {
                        display: inline-block;
                        margin: 0 1rem;
                    }
                }
            }
        }
    }
}

header.collapsed {
    .container {
        .content {
            padding: 1rem 0;

            .expanded-options {
                display: none;
            }

            .logo {
                width: 70px;
                position: absolute;
                left: 2rem;
                top: 50%;
                transform: translateY(-50%);
            }

            nav {
                text-align: center;

                ul {
                    list-style: none;

                    li {
                        display: inline-block;
                        margin: 0 1rem;
                    }
                }
            }

            .user-options {
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%);

                ul {
                    li {
                        display: inline-block;
                        margin-left: 0.75rem;
                        vertical-align: middle;

                        button {
                            background: transparent;
                            padding: 0;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}